@charset "UTF-8";

@font-face {
    font-family: Avocado;
    src: url("estilo/LTAvocado-Regular.ttf") format('truetype'), url(LTAvocado-Bold.ttf)
    format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor01:#D5AF28;
    --cor02:#AA923C;
    --cor03:#FFC905;
    --cor04:#807242;
    --cor05:#554F3A;

    --font01: Avocado, Arial;
}

*{
    margin: 0px;
    padding: 0px;
    font-family:var(--font01)
}

div#cabeçalho > img{
    display: block;
    height: 20px;
    width: 20px;
    background-color: black;
}

div#cabeçalho{
    background-color: black;
    color: #FFC905;
    display: flex;
}

div#cabeçalho > p{
    background-color: black;
    padding-left: 5px;
}

header{
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
}

header > h1{
    position: relative;;
    background-color: #e4e4e4;
    text-align: left;
    padding-left: 10px;
}
 header > a{
    padding-top: 13px;
    background-color: #e4e4e4;

    padding-left: 30px;
    text-decoration: none;
    color: black;
 }
 
 header > a.ultimoa{
    padding-right: 10px;
 }

 header > a:hover{
    color: #FFC905;
 }

 .paralax{
    background-color: black;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.405);
 }

 #foto01{
    background-image: url(wavy-black-white-background.jpg);
 }

 section#foto01 > h1{

    font-size: 3em;
    text-align: left;
    display: inline-block;
    padding-left: 10px;
    padding-top: 50px;
 }

 section#foto01 > p{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1.4em;
    text-align: justify;
 }

 #espaçamento{
    width: 100%;
    height: 100px;
 }

 #excel{
    height: 200px;
    background-image: url(excel.jpg);
    background-position: left center;
 }

 div#conteudo1 > h1{
    font-size: 3em;
    color: #217346;
    padding-left: 30px;
    text-align: left;
    padding-top: 30px;
 }

 #conteudo1 > p{
    text-align: justify;
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 20px;
 }

 #conteudo1 > h2{
    color: #217346;
    font-size: 3em;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
 }

 div#cmpconteudo1{
    background-color: black;
    width: 50%;
    height: 400px;
    text-align: center;
    background-size: cover; 
 }
